<div class="animated fadeInUpBig" ng-controller="VendorCtrl">
	<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title"> End Trip</h3>
			</div>
			
        	<div class="panel-body">
	            <form action="" class="form form-horizontal">
	                <!--Default Horizontal Form-->
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">Truck No:</label>
	                    <div class="col-sm-8">
	                        <input type="text" class="form-control" ng-model="trailerId">
	                    </div>
	                    
	                </div>
	                <center>
	                        <button class="btn btn-info btn-lg" ng-disabled="!trailerId" type="button" ng-click="searchTrailer(trailerId)">Search</button>
	                   </center>
					<div class="form-group" ng-show="trailerFound">
	                	<label class="col-sm-2 control-label">Started By:</label>
	                	<div class="col-sm-8" style="margin-top: 8px;">
	                        {{trailer.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
	                    </div>
	                </div>
					
					<div class="form-group" ng-show="trailerFound">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-8" style="margin-top: 8px;">
							<button class="btn btn-info btn-lg" type="button" ng-click="stopTrailer(trailer.trailerNo)">Stop Trip</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

