<div class="signin_wrapper animated fadeInUpBig" ng-controller="DriverCtrl">
    <div class="row" >
        <div class="overlay_block">
            <div class="center_block"> 
	            <div id="clockbox" style="margin-top: 5%"></div>
                <div id="clockboxd"></div>
       		</div>
       		
       		<a href="#/app/loadcontainer">
			     <div class="info-seven greenbg-info">
			         <div class="logo-seven"><i class="ti-widget dark-info-green"></i></div>
			           Truck No : {{trailer.trailerNo}}
			          <p> Active </p>
			          <p> Started By: {{trailer.startTime | date:'yyyy-MM-dd HH:mm:ss'}} </p>
			     </div>
			</a>
		      
       		<div class="col-sm-12 text-center">
       			<button class="btn btn-danger btn-lg" ng-click="stopTrip()"  type="button">Stop</button>
       		</div>
       		
       		
	</div>
</div>