<div class="row grid" ng-controller="CustomerCareCtrl">
	<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					Search 
					<span class="panel-options">
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i>
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-6" style="padding-right: 0px;padding-left: 5px;">
					<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
						<div class="input-group demo-group">
							<input class="form-control" placeholder="Work Order No">
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button"> <i class="ion-android-search"></i> Search </button>
						</span>
						</div><br>
					</div>
					<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
					<div class="input-group demo-group">
						<input class="form-control" placeholder="Container No">
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button"> <i class="ion-android-search"></i> Search </button>
							</span>
						</div><br>
					</div>
				</div>
				
				<div class="col-md-6" style="padding-right: 0px;padding-left: 5px;">
					<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
						<div class="input-group demo-group">
							<select class="form-control">
								<option> Select Country </option>
							</select>
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button"> <i class="ion-android-search"></i> Search </button>
							</span>
						</div><br>
					</div>
					<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
						<div class="input-group demo-group">
							<select class="form-control">
								<option> Select Vendor </option>
							</select>
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button"> <i class="ion-android-search"></i> Search </button>
							</span>
						</div><br>
					</div>
				</div>
				<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
					<h4>Result</h4>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">Work Order No</th>
									<th class="text-center">Customer</th>
									<th class="text-center">Containers</th>
									<th class="text-center">Country</th>
									<th class="text-center">Vendor</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="text-center">10000001</th>
									<td class="text-center">NISSION</td>
									<td class="text-center">MUSK000015</td>
									<td class="text-center">IN</td>
									<td class="text-center">V1</td>
									<td class="text-center">
										<button class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft">
											<i class="ion ion-navigate"></i>
											<span>Track</span>
										</button>
									</td>
								</tr>
								<tr>
									<th class="text-center">10000002</th>
									<td class="text-center">NISSION</td>
									<td class="text-center">MUSK000015</td>
									<td class="text-center">IN</td>
									<td class="text-center">V1</td>
									<td class="text-center">
										<button class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft">
											<i class="ion ion-navigate"></i>
											<span>Track</span>
										</button>
									</td>
								</tr>
								<tr>
									<th class="text-center">10000003</th>
									<td class="text-center">NISSION</td>
									<td class="text-center">MUSK000015</td>
									<td class="text-center">IN</td>
									<td class="text-center">V1</td>
									<td class="text-center">
										<button class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft">
											<i class="ion ion-navigate"></i>
											<span>Track</span>
										</button>
									</td>
								</tr>
								<tr>
									<th class="text-center">10000004</th>
									<td class="text-center">NISSION</td>
									<td class="text-center">MUSK000015</td>
									<td class="text-center">IN</td>
								<td class="text-center">V1</td>
									<td class="text-center">
										<button class="btn btn-green btn-icon-green btn-icon-block btn-icon-blockleft">
											<i class="ion ion-navigate"></i>
											<span>Track</span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>