<div class="animated fadeInUpBig w3-container" ng-controller="VendorCtrl">
       <!--form-heading-->
            <div class="form-heading">
                Vendor Dashboard
            </div>
            <!--form-heading-->
            <div class="row">
		<div  style="padding-left: 0;">
			<div class="col-md-3 col-sm-12 col-xs-12 ">
			<div class="dashboard-stats">
				<div class="center">
				 <a href="#/app/starttrack">
					<h3 class="flatBluec counter"></h3>
					<h4> Start Trip </h4></a>
				</div>
				<div class="right flatBlue">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
				 <a href="#/app/loadcontainer">
					<h3 class="flatGreenc"></h3>
					<h4>  Load Container</h4></a>
				</div>
				<div class="right flatGreen">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
			 <a href="#/app/endtrack">
					<h3 class=flatRedc></h3>
					<h4> Unload Container </h4></a>
				</div>
				<div class="right flatRed">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
				 <a href="#/app/endtrip">
					<h3 class="flatOrangec"></h3>
					<h4> End Trip </h4></a>
				</div>
				<div class="right flatOrange">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
	</div>   
  </div>
	
			
	

	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Containers
					</h3>
				</div>
				<div class="panel-body">
						<div class="row buttons-cascade">
							<div class="col-md-12">
								<div class="demo-group">
									<input class="name_search form-control" ng-model="searchActive" placeholder="Search ">
								</div>
							</div>
						</div>
						
					</div>
				<div class="panel-body nopadding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Truck Number</th>
									<th>Container No</th>
									<th>Status</th>
									<th>LoadedTime</th>
									<th>UnloadedTime</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="cont in listall | filter : searchActive" ng-if="cont.trailer.status=='STARTED'">
						   	<td>{{cont.trailer.trailerNo}}</td>
							<!--  <td>{{cont.containerId}}</td>-->
							<td>{{cont.containerNo}}</td>
							<td>{{cont.status}}</td>
							<td>{{cont.loadedTime|date :'medium'}}</td>
							<td>{{cont.unloadedTime|date :'medium'}}</td>
							<td class="text-center">
							 <a ng-click="unloadPop(cont.containerNo)" ng-disabled="cont.status=='UNLOADED'" class="btn btn-green">Unload</a>
								  <div id="id01" class="w3-modal">
								    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
								      <div class="w3-center"><br>
								        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
								        <h3>Are you sure about unloading the container??</h3>
								      </div>
								      <div class="w3-container">
								        <div class="w3-section">
								          <button class="w3-button w3-block btn btn-primary w3-green w3-section w3-padding" type="submit"  ng-click="unloadContainerPop()">Okay</button>
								        </div>
								      </div>
								    </div>
								  </div>
							 <button onclick="document.getElementById('id02').style.display='block'" class="btn btn-red">Stop</button>
								<div id="id02" class="w3-modal">
									<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
										<div class="w3-center"><br>
											<span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
												<h3>Are you sure about Stopping the Trailer??</h3>
										</div>
										<div class="w3-container">
											<div class="w3-section">
												<button class="w3-button w3-block btn btn-primary w3-green w3-section w3-padding" type="submit"  ng-click="stopTrailer(cont.trailer.trailerNo)">Okay</button>
											</div>
										</div>
									</div>
								</div>
							<a class="btn btn-primary" href="#/app/trackingcontainer/{{cont.containerId}}"><i class="ion-navigate"></i></a>
							</td>	
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Active Trucks	
					</h3>
				</div>
				<div class="panel-body">
						<div class="row buttons-cascade">
							<div class="col-md-12">
								<div class="demo-group">
									<input class="name_search form-control" ng-model="searchInActive" placeholder="Search ">
								</div>
							</div>
						</div>
						
					</div>
				<div class="panel-body nopadding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Truck Number</th>
									<th>Started Date & Time</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="trailer in trailerList | filter : searchInActive">
						   	<td>{{trailer.trailerNo}}</td>
							<td>{{trailer.startTime|date :'medium'}}</td>
							<td class="text-center">
							 <a class="btn btn-green" href="#/app/loadcontainer/{{trailer.trailerNo}}">Load</a>
							 <button class="btn btn-orange" ng-click="stopTrailer(trailer.trailerNo)" >Stop</button> 
							</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


		</div>
		
	</div>
</div>




