<style>
.info-logo-content ul {
    padding: 30px 20px 10px;
    display: inline-block;
    width: 100%;
}

.info-logo-content ul li i {
    font-size: 38px;
}

</style>

<div class="animated fadeInUpBig" ng-controller="CountryCtrl">
	
	<div class="paneltype-heading" style="font-size: 30px;"><b><label> {{countryName}}</label> </b></div>
	

	<div class="row">
		<div  style="padding-left: 0;" class="col-md-5 col-sm-6 col-xs-12 nopad-right">
			<div class="col-md-6 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
				<a href="#/app/listcontainers/LOADED/{{countrycode}}">
					<h3 class="flatBluec counter">{{countall.loadStatus}}</h3></a>
					<h4> Loaded </h4>
				</div>
				<div class="right flatBlue">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
				<a href="#/app/listcontainers/UNLOADED/{{countrycode}}">
					<h3 class=flatRedc>{{countall.unloadStatus}}</h3></a>
					<h4> UnLoaded </h4>
				</div>
				<div class="right flatRed">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		</div>
		
		<div   class="col-md-7 col-sm-12 col-xs-12 nopad-right">
		
			<div class="row">
       
        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
				<a href="#/app/listcontainers/STARTED/{{countrycode}}">
                <ul class="list-inline list-unstyled">
                    <li><i class="fa fa-check green-info"></i></li>
                    <li>At Pickup  <p>Containers </p></li>
                    <li class="info-value">{{countall.started}}</li>
                </ul>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-xs-12 col-sm-6 ">
          <div class="list-group">
            <div class="info-logo-content">
				<a href="#/app/listcontainers/INTRANSIT/{{countrycode}}">
                <ul class="list-inline list-unstyled">
                    <li> <i class=" fa fa-bus orange-info"></i></li>
                    <li>In Transit <p>Containers</p></li>
                    <li class="info-value">{{countall.inTransit}}</li>
                </ul>
                </a>
            </div>
            </div>
        </div>
        
        
        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
				<a href="#/app/listcontainers/REACHED/{{countrycode}}">
                <ul class="list-inline list-unstyled">
                    <li><i class="fa fa-check-square-o green-info"></i></li>
                    <li>Reached <p>Containers</p></li>
                    <li class="info-value">{{countall.reached}}</li>
                </ul>
                </a>
            </div>
        </div>
    </div>
		

		</div>
		
		
		
		
		
		
		
	</div>		

	<div class="panel panel-piluku">
					<div class="panel-heading">
						<h3 class="panel-title"> Customer Filter </h3>
					</div>
					<div class="panel-body">
						<div class="row buttons-cascade">
							<div class="col-md-12">
								<div class="demo-group">
									<input class="name_search form-control" ng-model="search" placeholder="Search ">
								</div>
							</div>
						</div>
						
					</div>
				
				
			<div class="panel-body nopadding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
								    <!-- <th>WorkOrder No</th>-->
								    <th>Truck No</th>
									<th>Container No</th>
									<th>Loaded Date & Time</th>
									<th>Container Status</th>
									<th>Geofence Status</th>
									<!--  <th>Unloaded Date & Time</th>-->
									<th>Track</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-row" ng-repeat="c in cList | filter : search">
								   <!--  <td>{{c.workOrderNo}}</td>-->
								    <td>{{c.trailer.trailerNo}}</td>
									<td>{{c.containerNo}}</td>
									<td>{{c.loadedTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
									<td>{{c.status}}</td>
									
									
									<td><e ng-if="c.sgfStatus != 'null'">
										<e ng-if="c.sgfStatus == 'IN' && c.egfStatus == null">Started</e>
										<e ng-if="c.sgfStatus == 'EXITED' && c.egfStatus == null">In Transit</e>
										<e ng-if="c.sgfStatus == 'EXITED' && c.egfStatus == 'IN'">Reached</e>
										</e>
									</td>
									
									
									<!--  <td>{{c.unloadedTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>-->
									<td>
										<a class="btn btn-primary" href="#/app/trackingcontainer/{{c.containerId}}"><i class="ion-navigate"></i></a>
									</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>
				</div>			
	
</div>

</div>


