<div class="animated fadeInUpBig" ng-controller="VendorCtrl">
	<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">Container Loading</h3>
			</div>
			
        <div class="panel-body">           
            <form action="" class="form form-horizontal" name="LoadContainer">
                <!--Default Horizontal Form-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Truck No:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="trailerId">
                    </div>
                   
                </div>
                <center>   
                        <button class="btn btn-info btn-lg" ng-disabled="!trailerId" type="button" ng-click="searchTrailer(trailerId)">Search</button>
                 </center>
                <div class="form-group" ng-show="trailerFound">
                	<label class="col-sm-2 control-label">Started By:</label>
                	<div class="col-sm-8" style="margin-top: 8px;">
                        {{trailer.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                    </div>
                	
                	
                </div>


				

				
                <div class="form-group" ng-show="trailerFound">
                    <label class="col-sm-2 control-label"> </label>
	              	<div class="col-sm-8">
	              		<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Container Loading
									<span class="panel-options">
										<a ng-click="addRow()">
											<i class=" ion-plus-round"></i>
										</a>
									</span>
								</h3>
							</div>
							<div class="table-responsive">
				            	<table class="table table-bordered">
								<!-- <thead>
									<tr>
										<th>Containers</th>
										<th>Action</th>
									</tr>
								</thead> -->
								<tbody>
									<tr ng-repeat="con in trailer.containers" ng-if="con.status !== 'UNLOADED'">
										<td>
											<span>
												<div class="col-sm-4">
													<select ng-model="con.ContainerType" class="name_search form-control">
							                            <option ng-repeat="contprix in containerprefix" value="{{contprix.name}}"> {{contprix.name}} </option>
							                        </select>
												</div>
												<div class="col-sm-4 text-center">
													<input ng-model="con.ContainerNo" type="text" class="col-sm-12" ng-show="con.status!== 'LOADED'" placeholder="Ex : 12345678" required>
													<lable ng-show="con.status === 'LOADED'">{{con.ContainerNo}}</lable>
												</div>
												<div class="col-sm-4 text-center">
													<button class="btn btn-success btn-lg" ng-show="con.status !== 'LOADED'" type="button" ng-click="saveRow(con,$index)">Load</button>
													<button class="btn btn-danger btn-lg" type="button" ng-show="con.status === 'LOADED'" ng-click="unloadRow(con,$index)">Unload</button>
													<button class="btn btn-danger btn-lg" ng-show="con.status !== 'LOADED'" type="button" ng-click="RemoveRow($index)">cancel</button>
												</div>
											</span>
										</td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<button class="btn btn-info btn-lg" type="button" ng-click="updateTrailer(trailerId,Containers)">Submit</button>
	            </div>     
            </div>
        </form>
	</div>
</div>
</div>
</div>

