<style>
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}


.content .main-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

#map_canvas {
  height: 600px;
  width: 100%;
}

</style>



<div class="animated fadeInUpBig" ng-controller="TrackingTrailerCtrl">
	<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">Tracking</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-4">
				    <a class="input-group demo-group">
						<input ng-model="trailerId" placeholder="Enter Trailer No" class="form-control">
						<span class="input-group-btn">
                            <button class="btn btn-info btn-lg" ng-disabled="!trailerId" ng-click="trackTrailer(trailerId)" type="button">Search</button>
                        </span>
					</a>
			
				<div class="col-md-4">
				    <div class="panel panel-piluku" ng-show="tables">
					<div class="panel-body">
						<table class="table table-bordered">
							<tbody>
								
								<tr>
									<td class="col-md-4">Work Order No</td>
									<td class="col-md-8">{{metsData.workOrderNo}}</td>
								</tr>
								
								<tr>
									<td>Truck No</td>
									<td>{{trailerNo}}</td>
								</tr>
								
								
								<tr>
									<td>Container No</td>
									<td>{{containerNo}}</td>
								</tr>
								
								<tr>
									<td>Start Geofence</td>
									<td>{{containers.sgfStatus}}</td>
								</tr>
								
								<tr>
									<td>End Geofence</td>
									<td>{{containers.egfStatus}}</td>
								</tr>
								
								
								<tr>
									<td>Begin Address </td>
									<td>{{metsData.beginAddressline1 |  lowercase}},{{metsData.beginAddressline2 |  lowercase}},{{metsData.beginAddressline3 |  lowercase}}</td>
								</tr>
								<tr>
									<td>End Address </td>
									<td>{{metsData.endAddressline1 |  lowercase}},{{metsData.endAddressline2 |  lowercase}},{{metsData.endAddressline3 |  lowercase}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
				<div class="col-md-8" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
					<br>
					<div id="map_canvas"></div>
				</div>
			</div>
		</div>
	</div>
</div>