<style>
.w3-modal {
    padding-top: 100px;
}
</style>
<div class="animated fadeInUpBig" ng-controller="workorderalistCtrl">
	<div class="panel panel-piluku panel-users">
		<div class="panel-heading">
			<h3 class="panel-title">
						List of WorkOrder
				<span class="panel-options">
					<a style="font-size: 35px;cursor: pointer;" onclick="document.getElementById('id01').style.display='block'">
						<i class="icon ion-upload"></i> 
							
					</a>
					<a style="font-size: 35px;cursor: pointer;" href="#/app/workorder" >
						<i class="icon ion-ios-plus"></i> 
							
					</a>
					<a style="font-size: 35px;cursor: pointer;" onclick="window.history.back()">
						<i class="icon ion-android-arrow-back"></i>
					</a>
				</span>
			</h3>
		</div>
		<div class="panel-body nopadding">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">WorkOrder no</th>
							<th class="text-center">Container No</th>
							<th class="text-center">Arrival Date</th>
							<th class="text-center">Depature Date</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="wo in listall" class="text-center">
							<td>{{wo.workOrderNo}}</td>
							<td>{{wo.containerNo}}</td>
							<td>{{wo.arrivalDate|date:'mediumDate'}}</td>

							<td>{{wo.departureDate|date:'mediumDate'}}</td>
							<td class="text-center">
								<button class="w3-button w3-green" ng-click="showWorkOrder(wo)">View</button>
								<!-- <button class="w3-button w3-orange">Update</button> -->
								<button class="w3-button w3-red" ng-click="showRemove(wo.workOrderNo)">Remove</button>
							</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



  
<div id="id01" class="w3-modal" >
 <div class="w3-modal-content w3-card-3 w3-animate-zoom">
  <header class="w3-container w3-blue"> 
   <span onclick="document.getElementById('id01').style.display='none'" 
   class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
   <h2>Upload WorkOrder</h2>
  </header>
  <div class="w3-container w3-card-4">
  
  	  <br>
	  <p class="text-center"><input type="file" file-reader="fileContent"/></p>
	  <a href = "files/workorders.csv">Download File Format</a>
	  <br>
	  <br>
	  <br>
	  <p class="text-center"><button class="w3-btn w3-blue" ng-click="upload(fileContent)">upload</button></p>
	  <br>
	  <br>
 </div>
</div>
</div>


<div id="id02" class="w3-modal" >
 <div class="w3-modal-content w3-card-3 w3-animate-zoom">
  <header class="w3-container w3-green"> 
   <span onclick="document.getElementById('id02').style.display='none'" 
   class="w3-button w3-green w3-xlarge w3-display-topright">&times;</span>
   <h2>WorkOrder</h2>
  </header>
  <div class="w3-container w3-card-4">
  	  <br>
	  	<div class="col-md-12">
			<dl class="dl-horizontal">
				<dt>WorkOrder No</dt>
				<dd>{{workOrder.workOrderNo}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Container No</dt>
				<dd>{{workOrder.containerNo}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Arrival Date</dt>
				<dd>{{workOrder.arrivalDate}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Departure Date</dt>
				<dd>{{workOrder.departureDate}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Begin Address</dt>
				<dd>{{workOrder.beginAddressline1}},<br>{{workOrder.beginAddressline2}},<br>{{workOrder.beginAddressline3}}&nbsp;&nbsp;{{beginZip}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>End Address</dt>
				<dd>{{workOrder.endAddressline1}},<br>{{workOrder.endAddressline2}},<br>{{workOrder.endAddressline3}}&nbsp;&nbsp;{{endZip}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Country Code</dt>
				<dd>{{workOrder.countryCode}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Comment</dt>
				<dd>{{workOrder.comment}}</dd>
			</dl>
		</div>
		<p class="text-center"><button class="w3-btn w3-green" onclick="document.getElementById('id02').style.display='none'" >Close</button></p>		
 </div>
</div>
</div>



<div id="id03" class="w3-modal" >
 <div class="w3-modal-content w3-card-3 w3-animate-zoom">
  <header class="w3-container w3-orange"> 
   <span onclick="document.getElementById('id03').style.display='none'" 
   class="w3-button w3-orange w3-xlarge w3-display-topright">&times;</span>
   <h2>Remove WorkOrder</h2>
  </header>
  <div class="w3-container w3-card-4">
  
  	  <br>
	  <p class="text-center">Remove Work Order : {{removeNo}}</p>
	  <br>
	  <br>
	  <br>
	  <p class="text-center"><button class="w3-btn w3-orange" ng-click="removeWo(removeNo)">Remove</button></p>
	  <br>
	  <br>
 </div>
</div>
</div>






</div>






