<div class="signin_wrapper animated fadeInUpBig" ng-controller="DriverCtrl">
    <div class="row" >
        <div class="overlay_block">
            <div class="center_block"> 
	            <div id="clockbox" style="margin-top: 5%"></div>
                <div id="clockboxd"></div>
       		</div>
       		
       		<a href="#/app/loadcontainer">
			     <div class="info-seven greenbg-info">
			         <div class="logo-seven"><i class="ti-widget dark-info-green"></i></div>
			           Truck No : {{trailer.trailerNo}}
			          <p> Active </p>
			          <p> Started By: {{trailer.startTime | date:'yyyy-MM-dd HH:mm:ss'}} </p>
			     </div>
			</a>
		      
       		
       		
       		<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
				<div class="panel panel-piluku">
					<div class="panel-heading">
						<h3 class="panel-title">
							Container Unloading
						</h3>
					</div>
			
        			<div class="panel-body">
        				<div class="table-responsive">
							<table class="table table-bordered">
								<tbody>
									<tr ng-repeat="con in trailer.containers" ng-if="con.status == 'LOADED'">
										<td>
											<span>
												<div class="col-sm-4">
													<select ng-model="con.ContainerType" class="name_search form-control">
							                            <option ng-repeat="contprix in containerprefix" value="{{contprix.name}}"> {{contprix.name}} </option>
							                        </select>
												</div>
												<div class="col-sm-4">
													<input ng-model="con.ContainerNo" type="text" ng-disable="con.ContainerNo">
												</div>
												<div class="col-sm-4">
													<button class="btn btn-danger btn-lg" type="button" ng-click="unloadRow(con,$index,trailer.trailerNo)">Unload</button>
												</div>
											</span>
										</td>
										
									</tr>
								</tbody>
							</table>
						</div>
        		</div>     
            </div>
		</div>
	</div>
</div>



<!-- 

<div class="animated fadeInUpBig" ng-controller="DriverCtrl">
	<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">Container Unloading</h3>
			</div>
			
        <div class="panel-body">


           
            form-heading
            <form action="" class="form form-horizontal">
                Default Horizontal Form
                <div class="form-group">
                    <label class="col-sm-2 control-label">Trailer No:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="trailerId">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success btn-lg" ng-disabled="!trailerId" type="button" ng-click="getContna(trailerId)">Search</button>
                    </div>
                </div>



				
                <div class="form-group" ng-show="ccc">
                    <label class="col-sm-2 control-label"> </label>
	              	<div class="col-sm-10">
	              		<div class="panel panel-piluku">
							<div class="panel-heading">
								<h3 class="panel-title">
									Container Unloading
									<span class="panel-options">
										<a ng-click="addRow()">
											<i class=" ion-plus-round"></i>
										</a>
									</span>
								</h3>
							</div>
							<div class="table-responsive">
				            	<table class="table table-bordered">
								<thead>
									<tr>
										<th>Containers</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="con in ccc.containers" ng-if="con.status == 'LOADED'">
										<td>
											<span>
												<div class="col-sm-4">
													<select  ng-model="con.ContainerType" class="name_search form-control">
							                            <option value="MAEU"> MAEU </option>
							                            <option value="SEAU"> SEAU </option>
							                            <option value="KNLU"> KNLU </option>
							                            <option value="POCU"> POCU </option>
							                            <option value="PONU"> PONU </option>
							                            <option value="SCMU"> SCMU </option>
							                            <option value="MSKU"> MSKU </option>
							                            <option value="APMU"> APMU </option>
							                            <option value="CAIU"> CAIU </option>
							                            <option value="MRSU"> MRSU </option>
							                            <option value="CAIU"> CAIU </option>
							                            <option value="MRKU"> MRKU </option>
							                            <option value="MWCU"> MWCU </option>
							                            <option value="MWSU"> MWSU </option>
							                            <option value="MSWU"> MSWU </option>
							                            <option value="NONU"> NONU </option>
							                            <option value="TCLU"> TCLU </option>
							                            <option value="GESU"> GESU </option>
							                            <option value="GSTU"> GSTU </option>
							                            <option value="TEXU"> TEXU </option>
							                            <option value="TLLU"> TLLU </option>
							                            <option value="BMOU"> BMOU </option>
							                        </select>
												</div>
												<div class="col-sm-4">
													<input ng-model="con.ContainerNo" type="text" ng-show="!con.isSaved">
													<lable ng-show="con.isSaved">{{con.ContainerNo}}</lable>
												</div>
												<div class="col-sm-4">
													<button class="btn btn-danger btn-lg" type="button" ng-click="unloadRow(con,$index,trailerId)">Unload</button>
												</div>
											</span>
										</td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<button class="btn btn-info btn-lg" type="button" ng-click="stopTrip()">Stop Trip</button>
	            </div>     
            </div>
        </form>
	</div>
</div>
</div>
</div>

 -->
