<style>
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}


.content .main-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

#map_canvas {
  height: 600px;
  width: 100%;
}

</style>



<div class="animated fadeInUpBig" ng-controller="TrackingCtrl">
	<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">Tracking</h3>
			</div>
			<div class="panel-body">
				<label class="control-label col-md-12" style="padding-right:0px;padding-left:15px;">Container Number</label>
		           
				<div class="col-md-4">
				    <div class="col-lg-4 col-md-12 col-sm-12 form-group" style="padding-right:0px;padding-left:0px;">
		               <select class="name_search form-control" ng-model="cont.ContainerType">
		                    							<option value="MAEU" selected> MAEU </option>
					 		                            <option value="SEAU"> SEAU </option>
							                            <option value="KNLU"> KNLU </option>
							                            <option value="POCU"> POCU </option>
							                            <option value="PONU"> PONU </option>
							                            <option value="SCMU"> SCMU </option>
							                            <option value="MSKU"> MSKU </option>
							                            <option value="APMU"> APMU </option>
							                            <option value="CAIU"> CAIU </option>
							                            <option value="MRSU"> MRSU </option>
							                            <option value="CAIU"> CAIU </option>
							                            <option value="MRKU"> MRKU </option>
							                            <option value="MWCU"> MWCU </option>
							                            <option value="MWSU"> MWSU </option>
							                            <option value="MSWU"> MSWU </option>
							                            <option value="NONU"> NONU </option>
							                            <option value="TCLU"> TCLU </option>
							                            <option value="GESU"> GESU </option>
							                            <option value="GSTU"> GSTU </option>
							                            <option value="TEXU"> TEXU </option>
							                            <option value="TLLU"> TLLU </option>
							                            <option value="BMOU"> BMOU </option>
							                            <option value="TCKU"> TCKU </option>
							                            <option value="MMAU"> MMAU </option>
							                            <option value="MNBU"> MNBU </option>
		              	</select> 
                  	</div>
                   
						
					<a class="input-group demo-group">
						<input ng-model="cont.ContainerNo" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control">
						<span class="input-group-btn">
                            <button class="btn btn-info btn-lg" ng-disabled="!cont.ContainerNo" ng-click="search(cont.ContainerType+cont.ContainerNo)" type="button">Search</button>
                        </span>
					</a>
					
					<div class="panel panel-piluku">
					<div class="panel-heading">
						<h3 class="panel-title">
							Container Track Details
							<span class="panel-options">
								<a href="#" class="panel-minimize">
									<i class="icon ti-angle-up"></i>
								</a>
							</span>
						</h3>
					</div>
					<div class="panel-body">

						<!-- Table -->
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>ContainerNo</th>
									<th>TruckNo</th>
									<th class="text-center">Track</th>
								</tr>
							</thead>
							<tbody>
								<tr  ng-repeat="con in containers">
									<td>{{con.containerNo}}</td>
									<td>{{con.trailerTrailerId}}</td>
									<td class="text-center">
										<button class="btn btn-info btn-lg" ng-click="track(con.trailerTrailerId,con)" type="button">Track</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
					
					
					<div class="panel panel-piluku" ng-show="tables">
					
					<div class="panel-body">

						<!-- Table -->
						<table class="table table-bordered">
							<tbody>
								<!-- <tr>
									<td>Customer No</td>
									<td>{{metsData.customer.customerNumber}}</td>
								</tr>
								<tr>
									<td>Customer Name</td>
									<td>{{metsData.customer.customerName}}</td>
								</tr> -->
								<tr>
									<td class="col-md-4">Work Order No</td>
									<td class="col-md-8">{{metsData.workOrderNo}}</td>
								</tr>
								<!-- <tr>
									<td>Work Order Create Year Week</td>
									<td>{{metsData.woCreatedYearWeek}}</td>
								</tr> -->
								
								
								<tr>
									<td>Truck No</td>
									<td>{{trailerNo}}</td>
								</tr>
								
								
								<tr>
									<td>Container No</td>
									<td>{{containerNo}}</td>
								</tr>
								
								<tr ng-repeat="con in containers" ng-if="con.trailerTrailerId == trailerId">
									<td>Start Geofence</td>
									<td>{{con.sgfStatus}}</td>
								</tr>
								
								
								<tr ng-repeat="con in containers" ng-if="con.trailerTrailerId == trailerId">
									<td>End Geofence</td>
									<td>{{con.egfStatus}}</td>
								</tr>
								
								
								<tr>
									<td>Begin Address </td>
									<td>{{metsData.beginAddressline1 |  lowercase}},{{metsData.beginAddressline2 |  lowercase}},{{metsData.beginAddressline3 |  lowercase}}</td>
								</tr>
								<tr>
									<td>End Address </td>
									<td>{{metsData.endAddressline1 |  lowercase}},{{metsData.endAddressline2 |  lowercase}},{{metsData.endAddressline3 |  lowercase}}</td>
								</tr>
								<!-- <tr>
									<td>Estimated Time To Reach</td>
									<td>{{statusData.estimatedTimeToReach}}</td>
								</tr>
								<tr>
									<td>Distance Remaining</td>
									<td>{{statusData.distanceRemaining}}</td>
								</tr> -->
								
								
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
				<div class="col-md-8" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
					<br>
					<div id="map_canvas"></div>
				</div>
			</div>
		</div>
	</div>
</div>