<style>
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}
</style>



<div class="row animated fadeInUpBig" style="margin-left:0px;"  ng-controller="RegionCtrl">
	
	<div class="panel panel-piluku">
					<div class="panel-heading">
						<h3 class="panel-title"> Customer Filter </h3>
					</div>
					<div class="panel-body">
						<div class="row buttons-cascade">
							<div class="col-md-12">
								<div class="demo-group">
									<select class="name_search form-control" ng-model="seleted" ng-change="change(seleted,metsListAll)">
										<option ng-repeat="set in selectData" value="{{set.name}}"> {{set.name}} </option>
									</select>
								</div>
							</div>
						</div>
						<!-- /row -->	
					</div>
				</div>
	
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title">
				Customer List
				<span class="panel-options">
					<a href="#" class="panel-refresh">
						<i class="icon ti-reload"></i> 
					</a>
					<!-- <a href="#" class="panel-minimize">
						<i class="icon ti-angle-up"></i> 
					</a>
					<a href="#" class="panel-close">
						<i class="icon ti-close"></i> 
					</a> -->
				</span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Customer No </th>
							<th>Customer Name</th>
							<th>WorkOrder No </th>
							<th>WorkOrder create YearWeek</th>
							<th>Begin Address </th>
							<th>Carrier Code</th>
							<th>Carrier Name</th>
							<th>BL No</th>
							<th>BL Original No</th>
							<th>Track</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="met in metsList">
							<td>{{met.customer.customerNumber}}</td>
							<td>{{met.customer.customerName}}</td>
							<td>{{met.workOrderNo}}</td>
							<td>{{met.woCreatedYearWeek}}</td>
							<td>{{met.beginAddressline1 |  lowercase}},{{met.beginAddressline2 |  lowercase}},{{met.beginAddressline3 |  lowercase}}</td>
							<td>{{met.carrier.carrierCode}}</td>
							<td>{{met.carrier.carrierName |  lowercase }}</td>
							<td>{{met.blNumber}}</td>
							<td>{{met.blNumberOriginal}}</td>
							<th><a class="btn btn-primary" href="#/app/tracking/{{met.workOrderNo}}"><i class="ion-navigate"></i></a></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>