<div class="animated fadeInUpBig" ng-controller="WorkOrderCtrl">
	<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">WorkOrder Creation</h3>
			</div>
			<div class="panel-body">
			<form ng-submit="AddWorkOrder(record)" class="form form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">WorkOrder No:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.workOrderNo"  placeholder="WorkOrder No">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Container No:</label>
				<div class="col-sm-2">
					<select ng-model="record.containerType" class="name_search form-control">
														<option value="MAEU"> MAEU </option>
							                            <option value="SEAU"> SEAU </option>
							                            <option value="KNLU"> KNLU </option>
							                            <option value="POCU"> POCU </option>
							                            <option value="PONU"> PONU </option>
							                            <option value="SCMU"> SCMU </option>
							                            <option value="MSKU"> MSKU </option>
							                            <option value="APMU"> APMU </option>
							                            <option value="CAIU"> CAIU </option>
							                            <option value="MRSU"> MRSU </option>
							                            <option value="CAIU"> CAIU </option>
							                            <option value="MRKU"> MRKU </option>
							                            <option value="MWCU"> MWCU </option>
							                            <option value="MWSU"> MWSU </option>
							                            <option value="MSWU"> MSWU </option>
							                            <option value="NONU"> NONU </option>
							                            <option value="TCLU"> TCLU </option>
							                            <option value="GESU"> GESU </option>
							                            <option value="GSTU"> GSTU </option>
							                            <option value="TEXU"> TEXU </option>
							                            <option value="TLLU"> TLLU </option>
							                            <option value="BMOU"> BMOU </option>
							                            <option value="TCKU"> TCKU </option>
							                            <option value="MMAU"> MMAU </option>
							                            <option value="MNBU"> MNBU </option>
					</select>
				</div>
            	<div class="col-sm-8">
					<input type="text" class="form-control" ng-model="record.containerNo"  placeholder="Container No">
				</div>
			</div>
<!-- 
			<div class="form-group">
				<label class="col-sm-2 control-label">WorkOrder Created Year&Week :</label>
            	<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="record.cYear"  placeholder="Year">
				</div>
            	<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="record.cWeek"  placeholder="Week">
				</div>
			</div>
			

			

			<div class="form-group">
				<label class="col-sm-2 control-label">WorkOrder Mode:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.woMode"  placeholder="WorkMode">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">WorkOrder Completed Year&Week :</label>
            	<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="record.ccYear"  placeholder="Year">
				</div>
            	<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="record.ccWeek"  placeholder="Week">
				</div>
			</div>
                
                
			
			<div class="form-group">
				<label class="col-sm-2 control-label">WorkOrder Complete Date:</label>
            	<div class="col-sm-10">
					<input type="text" type="text" class="form-control" id="date-popup" data-provide="datepicker" ng-model="record.woCompleteDate">
				</div>
			</div>
			 -->
			<div class="form-group">
				<label class="col-sm-2 control-label">Departure Date:</label>
            	<div class="col-sm-10">
					<input type="text" type="text" class="form-control" id="date-popup" data-provide="datepicker" ng-model="record.departureDate">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Arrival Date:</label>
            	<div class="col-sm-10">
					<input type="text" type="text" class="form-control" id="date-popup" data-provide="datepicker" ng-model="record.arrivalDate">
				</div>
			</div>

			<div class="form-group">
                    <label class="col-sm-2 control-label">Carrier:</label>
                    <div class="col-sm-10">
                        <select class="name_search form-control" ng-model="record.carrier">
                            <option ng-repeat="carrier in carrierList" value="{{carrier.carrierCode}}"> {{carrier.carrierName}} </option>
                        </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label">Customer:</label>
                    <div class="col-sm-10">
                        <select class="name_search form-control" ng-model="record.customer">
                            <option ng-repeat="customer in customerList" value="{{customer.customerNumber}}"> {{customer.customerName}} </option>
                        </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="col-sm-2 control-label">Vendor:</label>
                    <div class="col-sm-10">
                        <select class="name_search form-control" ng-model="record.vendor">
                            <option ng-repeat="vendor in vendorList" value="{{vendor.vendorId}}"> {{vendor.vendorName}} </option>
                        </select>
                    </div>
            </div>
            
            <!-- 
			<div class="form-group">
				<label class="col-sm-2 control-label">WorkOrder DetailType:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.woDetailType"  placeholder="workDetailType">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Equipment Numbers:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.equipmentNumbers"  placeholder="equipmentNumbers">
				</div>
			</div>
			
			 -->

         <div class="form-group">
				<label class="col-sm-2 control-label">Begin Address Line1:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.beginAddressline1"  placeholder="Begin Address">
				</div>
			</div>

         <div class="form-group">
				<label class="col-sm-2 control-label">Begin Address Line2:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.beginAddressline2"  placeholder="beginAddressline2">
				</div>
			</div>
         
          <div class="form-group">
				<label class="col-sm-2 control-label">beginAddressline3:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.beginAddressline3"  placeholder="beginAddressline3">
				</div>
			</div>

          <div class="form-group">
				<label class="col-sm-2 control-label">beginZip:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.beginZip"  placeholder="beginZip">
				</div>
			</div>
 
           <div class="form-group">
				<label class="col-sm-2 control-label">End Address:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.endAddressline1"  placeholder="End Address">
				</div>
			</div>
          
          <div class="form-group">
				<label class="col-sm-2 control-label">endAddressline2:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.endAddressline2"  placeholder="endAddressline2">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">endAddressline3:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.endAddressline3"  placeholder="endAddressline3">
				</div>
			</div>
          
          <div class="form-group">
				<label class="col-sm-2 control-label">endZip:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.endZip"  placeholder="endZip">
				</div>
			</div>
          
          <div class="form-group">
				<label class="col-sm-2 control-label">countryCode :</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.countryCode"  placeholder="countryCode ">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">stateCode :</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.stateCode"  placeholder="stateCode">
				</div>
			</div>
          <!-- 
          <div class="form-group">
				<label class="col-sm-2 control-label">clearencePort :</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.clearencePort"  placeholder="clearencePort">
				</div>
			</div>
           
           <div class="form-group">
				<label class="col-sm-2 control-label">blNumber:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.blNumber"  placeholder="blNumber">
				</div>
			</div>
          
          
           <div class="form-group">
				<label class="col-sm-2 control-label">blNumberOriginal:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.blNumberOriginal"  placeholder="blNumberOriginal">
				</div>
			</div>
            
             <div class="form-group">
				<label class="col-sm-2 control-label">comment :</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.comment "  placeholder="comment ">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">commodityDescription:</label>
            	<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="record.commodityDescription"  placeholder="commodityDescription">
				</div>
			</div>
           -->
          <div class="row">
			<div class="col-md-3" align="right">
				<input type="submit" class="btn btn-success">
			</div>
					
				
			<div class="col-md-3">
				<input type="reset" class="btn btn-danger">
			</div>
		</div>

		</form>
				
		</div>
		</div>
	</div>
</div>
		