<style>
<!--

-->
.left-bar .admin-logo .logo-holder, .side-bar .admin-logo .logo-holder {
    width: 150px;
    padding-top: 15px;
}

</style>
<div class="left-bar">
    <div class="admin-logo" style="background-color: #bddde3;">
        <div class="logo-holder pull-left">
            <img class="logo" ng-src="images/maersk.png" alt="logo">   
        </div>
        <!-- logo-holder -->            
        <a href="#"  ng-click="$storage.miniSidebar = $storage.miniSidebar ? false : true"   class="menu-bar  pull-right"><i class="ti-menu"></i></a>
    </div>
    <!-- admin-logo -->
    <ul class="list-unstyled menu-parent" id="mainMenu">
     	<li ng-repeat="side in sideNav">
           <a href="{{side.url}}">
              <i class="{{side.icon}}"></i>
              <span class="text">{{side.name}}</span>
            </a>
         </li>
	  </ul>
  </div>
   <!-- left-bar -->