<!-- Right Sidebar -->
	<!-- <div class="side-bar right-bar" ng-controller="rightSidebarCtrl"> -->
	<div class="side-bar right-bar">
		<div class="contacts">
			<div class="col col-md-12">
				<ul class="tabs">
					<li class="tab col-md-3"><a href="#test1">Chat</a></li>
					<li class="tab col-md-3"><a href="#test2" class="active">Settings</a></li>
					<li class="tab col-md-3"><a href="#test3">Messages</a></li>
				</ul>
			</div>
			<div class="content-holder">
				<div id="test1" class="col-md-12 no_padding">
					<ul class="list-group contacts-list">
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/one.png" alt="">
								</div>
								<span class="name">Richards carlson</span>
								<i class="ion ion-record offline"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/two.png" alt="">
								</div>
								<span class="name">Firing Arc</span>
								<i class="ion ion-record online"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/three.png" alt="">
								</div>
								<span class="name">strapzen</span>
								<i class="ion ion-record away"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/four.png" alt="">
								</div>
								<span class="name">Reeves</span>
								<i class="ion ion-record busy"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/five.png" alt="">
								</div>
								<span class="name">Bootstrap Guru</span>
								<i class="ion ion-record"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/six.png" alt="">
								</div>
								<span class="name">Carlson</span>
								<i class="ion ion-record"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/seven.png" alt="">
								</div>
								<span class="name">Paris hilton</span>
								<i class="ion ion-record"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/eight.png" alt="">
								</div>
								<span class="name">Henry Richards</span>
								<i class="ion ion-record"></i>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#">
								<div class="avatar">
									<img src="assets/images/avatar/nine.png" alt="">
								</div>
								<span class="name">Richie Rich</span>
								<i class="ion ion-record"></i>
							</a>
						</li>

					</ul>	
				</div> 
				<div id="test2" class="col-md-12 no_padding">										
					<div class="form-group">
						<div class="toggle-switch">
							<label class="col-sm-8 control-label">Reminders</label>
							<div class="col-sm-4">
								<input type="checkbox" class="mark-complete" id="toggle-switch" name="" value="" checked="">
								<div class="toggle">
									<label for="toggle-switch"><i></i>
									</label>
								</div>
							</div>
						</div>
						<div class="toggle-switch">
							<label class="col-sm-8 control-label">theme options</label>
							<div class="col-sm-4">
								<input type="checkbox" class="mark-complete" id="toggle-switch1" name="" value="" checked="">
								<div class="toggle">
									<label for="toggle-switch1"><i></i>
									</label>
								</div>
							</div>
						</div>
						<div class="toggle-switch">
							<label class="col-sm-8 control-label">dark / light theme</label>
							<div class="col-sm-4">
								<input type="checkbox" class="mark-complete" id="toggle-switch2" name="" value="" checked="">
								<div class="toggle">
									<label for="toggle-switch2"><i></i>
									</label>
								</div>
							</div>
						</div>
						<div class="toggle-switch">
							<label class="col-sm-8 control-label">Email Updates</label>
							<div class="col-sm-4">
								<input type="checkbox" class="mark-complete" id="toggle-switch3" name="" value="" checked="">
								<div class="toggle">
									<label for="toggle-switch3"><i></i>
									</label>
								</div>
							</div>
						</div>
						<div class="toggle-switch">
							<label class="col-sm-8 control-label">Notifications</label>
							<div class="col-sm-4">
								<input type="checkbox" class="mark-complete" id="toggle-switch4" name="" value="" checked="">
								<div class="toggle">
									<label for="toggle-switch4"><i></i>
									</label>
								</div>
							</div>
						</div>							

						<div class="form-group check-radio">
							<label class="col-sm-9 control-label">Loader animation</label>
							<div class="col-sm-3">
								<ul class="list-inline checkboxes-radio">
									<li class="ms-hover">
										<input type="checkbox" class="mark-complete" id="c1">
										<label for="c1"><span></span></label>
									</li>                                                                               
								</ul>
							</div>
						</div>
						<div class="form-group check-radio">
							<label class="col-sm-9 control-label">delay load</label>
							<div class="col-sm-3">
								<ul class="list-inline checkboxes-radio">
									<li class="ms-hover">
										<input type="checkbox" class="mark-complete" id="c1">
										<label for="c1"><span></span></label>
									</li>                                                                               
								</ul>
							</div>
						</div>
						<div class="form-group check-radio">
							<label class="col-sm-9 control-label">Graphs animations</label>
							<div class="col-sm-3">
								<ul class="list-inline checkboxes-radio">
									<li class="ms-hover">
										<input type="checkbox" class="mark-complete" id="c2" checked="">
										<label for="c2"><span></span></label>
									</li>                                                                               
								</ul>
							</div>
						</div>
					</div>						
				</div>
				<div id="test3" class="col-md-12 no_padding">
					<div class="heading no_border_bottom">
						Todays
						<div class="left"><a href="#"><i class="ion-android-refresh"></i></a></div>
						<div class="right"><a href="#"><i class="ion-gear-a"></i></a></div>						
					</div>
					<div class="list-group message-list">
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">henry richards</h4>
							<p class="list-group-item-text">has pushed all the code to github and saved some fixes too..</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">mary </h4>
							<p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto accusamus officiis vero magnam amet, quas corru</p>
						</a>							
					</div>	
					<div class="heading no_border_bottom">
						june 15 1990
						<div class="left"><a href="#"><i class="ion-android-refresh"></i></a></div>
						<div class="right"><a href="#"><i class="ion-gear-a"></i></a></div>						
					</div>
					<div class="list-group message-list">
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">henry richards</h4>
							<p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto accusamus officiis vero magnam amet, quas corru</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">mary </h4>
							<p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto accusamus officiis vero magnam amet, quas corru</p>
						</a>							
					</div>	
				</div>
			</div>
			<!-- content_holder -->
		</div>
	</div>
	<!-- /Right-bar -->