<style>
@media all and (max-width: 700px) {
.menu-bar-mobile {
    display: block;
    text-decoration: none !important;
    z-index: 999999999;
    position: absolute;
    padding-top: 23px;
    font-size: 20px;
    width: 60px;
    height: 55px;
    left: 0;
    top: 0;
    text-align: center;
}
}

</style>
<div class="overlay"></div>     
    <div class="top-bar">
      <nav class="navbar navbar-default top-bar">
        <div class="menu-bar-mobile" id="open-left"><i class="ti-menu"></i>
        </div>

        <!-- <form class="navbar-left" role="search">
          <div class="search">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form> -->
        <ul class="nav navbar-nav navbar-right top-elements">
          <!-- <li class="piluku-dropdown dropdown">
            <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> USA <span class="drop-icon"><i class="ion ion-chevron-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow language-drop neat_drop" data-wow-duration="1500ms" role="menu">
              <li>
                <a href="#"> INDIA </a>
              </li>
              <li>
                <a href="#"> USA </a>
              </li>
             
            </ul>
          </li> 
          <li class="piluku-dropdown dropdown">
            <a  data-target="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-ios-bell-outline icon-notification"></i><span class="badge info-number message">22</span></a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow notification-drop neat_drop" data-wow-duration="1500ms" role="menu">
              <li>
                <a href="#">
                  <div class="hexagon danger">
                    <span><i class="ion-ios-alarm-outline"></i></span>
                  </div>
                  <span class="text_info"> Privacy settings have been changed</span>
                  <span class="time_info">3:30am</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="hexagon success">
                    <span><i class="ion-ios-body-outline"></i></span>
                  </div>
                  <span class="text_info"> Tim has added you as friend</span>
                  <span class="time_info">4:30am</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="hexagon warning">
                    <span><i class="ion-ios-cart-outline"></i></span>
                  </div>
                  <span class="text_info"> New item added</span>
                  <span class="time_info">6:07am</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="hexagon info">
                    <span><i class="ion-ios-calendar-outline"></i></span>
                  </div>
                  <span class="text_info"> reminder please complete the task</span>
                  <span class="time_info">3:30pm</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="outline-hexagon">
                    <span><i class="ion-ios-checkmark-outline"></i></span>
                  </div>
                  <span class="text_info"> Marked as complete</span>
                  <span class="time_info">1:30pm</span>
                </a>
              </li>
              <li>
                <a href="#" class="last_info">See all notifications</a>
              </li>

            </ul>
          </li>
         -->
          <li class="piluku-dropdown dropdown">
            <a  data-target="#"  class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false"><span class="avatar-holder"><img ng-src="images/user.png" alt=""></span><span class="avatar_info">{{userName}}</span><span class="drop-icon"><!-- <i class="ion ion-chevron-down"></i> --></span></a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow avatar_drop neat_drop" data-wow-duration="1500ms" role="menu">
              <li class="text-center" ng-repeat="role in roleLists" ng-click="setLanding(role)">
                <a style="cursor: pointer;" > <!-- <i class="ion-android-desktop"></i> -->{{role.name}}</a>
              </li>
              <li ng-click="logOut()">
                <a style="cursor: pointer;" class="logout_button"><i class="ion-power"></i>Logout</a>
              </li>   
            </ul>
          </li>
         <!--  <li class="chat_btn">
            <a href="#" class="right-bar-toggle flatRed">
              <i class="ion-ios-people-outline"></i>                              
            </a>
          </li> -->
        </ul>

      </nav>

    </div>
    <!-- /top-bar -->