<!--theme panel-->
		<div class="panel">
			<div class="panel-body">
				<!--form-heading-->
				<div class="form-heading">
					Date Picker
				</div>
				<!--form-heading-->
				<div class="col-md-6">
				<!-- xdefault date picker  -->
					<div class="picker">
						<div class="col-md-5">
							<p class="control-label align-rt">Default Date Picker</p>
						</div>
						<div class="col-md-7">
							<div class="datepicker"></div>
						</div>
					</div>
					<!-- xdefault date picker  -->

					<!-- xdate picker popup  -->
					<div class="picker">
						<div class="form-group">
							<div class="col-md-5">
								<label class="control-label align-rt">Date Picker Popup</label>
							</div>
							<div class="col-md-7">
								<input type="text" class="form-control" id="date-popup" data-provide="datepicker">

							</div>
						</div>
					</div>
					<!-- xdate picker popup  -->

					<!-- xdate picker popup With Input group  -->
					<div class="picker">
						<div class="form-group">
							<div class="col-md-5">
								<label class="control-label align-rt">Date Picker Popup With Input group</label>
							</div>
							<div class="col-md-7" id="date-popup-group">
								<div class="input-group date">
									<input type="text" class="form-control" data-provide="datepicker">
									<span class="input-group-addon bg">
										<i class="ion ion-ios-calendar-outline"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- xdate picker popup With Input group  -->

					<!-- xdate picker popup With Start and End  -->
					<div class="picker">
						<div class="form-group">
							<div class="col-md-5">
								<label class="control-label align-rt">Date Picker Popup With Start and End Date</label>
							</div>
							<div class="col-md-7" id="date-popup-startend">
								<div class="input-group date">
									<input type="text" class="form-control">
									<span class="input-group-addon bg">
										<i class="ion ion-ios-calendar-outline"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- xdate picker popup With Start and End  -->

					<!-- xdate picker popup With disabled  -->
					<div class="picker">
						<div class="form-group">
							<div class="col-md-5">
								<label class="control-label align-rt">Date Picker Popup With disabled</label>
							</div>
							<div class="col-md-7" id="date-disabled">
								<div class="input-group date">
									<input type="text" class="form-control">
									<span class="input-group-addon bg">
										<i class="ion ion-ios-calendar-outline"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- xdate picker popup With disabled  -->
				</div>

				<div class="col-md-6">
				<!-- xdate range  -->
					<div class="picker">
						<div class="form-group">
							<div class="col-md-3">
								<label class="control-label align-rt">Date range</label>
							</div>
							<div class="col-md-9" id="date-range">
								<div class="input-group input-daterange" id="datepicker">
									<input type="text" class="form-control" name="start">
									<span class="input-group-addon bg">
										to
									</span>
									<input type="text" class="form-control" name="end">
								</div>
							</div>
						</div>
					</div>
					<!-- xdate range  -->

					<!-- xdate range disable -->
					<div class="picker">
						<div class="form-group">
							<div class="col-md-3">
								<label class="control-label align-rt">Date range disabled</label>
							</div>
							<div class="col-md-9" id="date-range-disable">
								<div class="input-group input-daterange" id="datepickertwo">
									<input type="text" class="form-control" name="start" disabled>
									<span class="input-group-addon bg">
										to
									</span>
									<input type="text" class="form-control" name="end" disabled>
								</div>
							</div>
						</div>
					</div>
					<!-- xdate range disable -->
				</div>
			</div>
		</div>
		<!--theme panel-->