
<div class="animated fadeInUpBig" ng-controller="ListContainerCtrl">
	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Containers
						<ul class="pagination pagination-inverse pull-right">
							<li ng-repeat="page in contlist.pagination" class="{{page.vclass}}" ng-if="!searchEnable" ng-show="page.display"><a style="cursor: pointer;" ng-click="goPage(page)">{{page.lable}}</a></li>
							<li ng-repeat="page in contlist.pagination" class="{{page.vclass}}" ng-if="searchEnable" ng-show="page.display"><a style="cursor: pointer;" ng-click="goSearchPage(page)">{{page.lable}}</a></li>
						</ul>
						<br><br>	{{status}} : {{contlist.count}}
					</h3>
				</div>
				<div class="panel-body">
						<div class="row buttons-cascade">
							
							<div class="col-md-4" style="padding-right: 0px;padding-left: 5px;">
								<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
									<div class="input-group demo-group">
										<input class="form-control" ng-model="sworder" placeholder="Work Order No">
										<span class="input-group-btn">
											<button class="btn btn-info btn-lg" ng-click="searchContainers('worder',sworder)" type="button"> <i class="ion-android-search"></i> Work Order </button>
											<button class="btn btn-danger btn-lg" ng-click="clearSearch()" type="button"> <i class="ion-android-cancel"></i> Clear </button>
										</span>
									</div><br>
								</div>
							</div>
							
							<div class="col-md-4" style="padding-right: 0px;padding-left: 5px;">
								<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
								<div class="input-group demo-group">
									<input class="form-control" ng-model="scontainerNo" placeholder="Container No">
										<span class="input-group-btn">
											<button class="btn btn-info btn-lg" ng-click="searchContainers('containerNo',scontainerNo)" type="button"> <i class="ion-android-search"></i> Container No </button>
											<button class="btn btn-danger btn-lg" ng-click="clearSearch()" type="button"> <i class="ion-android-cancel"></i> Clear </button>
										</span>
									</div><br>
								</div>
							</div>
							
							<div class="col-md-4" style="padding-right: 0px;padding-left: 5px;">
								<div class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
								<div class="input-group demo-group">
									<input class="form-control" ng-model="svendor" placeholder="Vendor Name">
										<span class="input-group-btn">
											<button class="btn btn-info btn-lg" ng-click="searchContainers('vendor',svendor)" type="button"> <i class="ion-android-search"></i> Vendor Name </button>
											<button class="btn btn-danger btn-lg" ng-click="clearSearch()" type="button"> <i class="ion-android-cancel"></i> Clear </button>
										</span>
									</div><br>
								</div>
							</div>
							
							
							<!-- <div class="col-md-12">
								<div class="demo-group">
									<input class="name_search form-control" ng-model="search" placeholder="Search ">
								</div>
							</div> -->
						</div>
						
					</div>
				<!--  {{cList}}-->
				<div class="panel-body nopadding">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
								    <!-- <th>WorkOrder No</th>-->
								    <th>WorkOrder No</th>
									<th>Container No</th>
									<th>Vendor</th>
									<th>Loaded Date & Time</th>
									<th>Last Seen Date & Time</th>
									<th>Container Status</th>
									<th>Geofence Status</th>
									<!--  <th>Unloaded Date & Time</th>-->
									<th>Track</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-row" ng-repeat="c in contlist.result | filter : search">
								   <!--  <td>{{c.workOrderNo}}</td>-->
								    <td>{{c.worder}}</td>
									<td>{{c.containerNo}}</td>
									<td>{{c.vendor}}</td>
									<td>{{c.loadedTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
									<td>{{c.lastSeenTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
									<td>{{c.status}}</td>
									
									<td><e ng-if="c.sgfStatus != 'null'">
										<e ng-if="c.sgfStatus == 'IN' && c.egfStatus == null">Started</e>
										<e ng-if="c.sgfStatus == 'EXITED' && c.egfStatus == null">In Transit</e>
										<e ng-if="c.sgfStatus == 'EXITED' && c.egfStatus == 'IN'">Reached</e>
										</e>
									</td>
									
									
									<!--  <td>{{c.unloadedTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>-->
									<td>
										<a class="btn btn-primary" href="#/app/trackingcontainer/{{c.containerId}}"><i class="ion-navigate"></i></a>
									</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /panel -->
		</div>
	</div>
</div>


