<style>
.info-logo-content ul {
    padding: 30px 20px 10px;
    display: inline-block;
    width: 100%;
}

.info-logo-content ul li i {
    font-size: 38px;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    width: 17px;
    height: 17px;
}
</style>

<div class="animated fadeInUpBig" ng-controller="HomeCtrl">
	<div class="row">
		<div  style="padding-left: 0;" class="col-md-5 col-sm-6 col-xs-12 nopad-right">
			<div class="col-md-6 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
				<a href="#/app/listcontainers/LOADED">
					<h3 class="flatBluec counter">{{countall.loadStatus}}</h3></a>
					<h4> Loaded </h4>
				</div>
				<div class="right flatBlue">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-sm-12 col-xs-12 nopad-right">
			<div class="dashboard-stats">
				<div class="center">
				<a href="#/app/listcontainers/UNLOADED">
					<h3 class=flatRedc>{{countall.unloadStatus}}</h3></a>
					<h4> UnLoaded </h4>
				</div>
				<div class="right flatRed">
					<i class="fa fa-truck"></i>
				</div>
			</div>
		</div>
		</div>
		
		<div class="col-md-7 col-sm-12 col-xs-12 nopad-right">
		
			<div class="row">
       
        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
				<a href="#/app/listbystatus/STARTED">
                <ul class="list-inline list-unstyled">
                    <li><i class="fa fa-check green-info"></i></li>
                    <li>At Pickup  <p>Containers </p></li>
                    <li class="info-value">{{countall.started}}</li>
                </ul>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-xs-12 col-sm-6 ">
          <div class="list-group">
            <div class="info-logo-content">
				<a href="#/app/listbystatus/INTRANSIT">
                <ul class="list-inline list-unstyled">
                    <li> <i class=" fa fa-bus orange-info"></i></li>
                    <li>In Transit <p>Containers</p></li>
                    <li class="info-value">{{countall.inTransit}}</li>
                </ul>
                </a>
            </div>
            </div>
        </div>
        
        
        <div class="col-md-4 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
				<a href="#/app/listbystatus/REACHED">
                <ul class="list-inline list-unstyled">
                    <li><i class="fa fa-check-square-o green-info"></i></li>
                    <li>Reached <p>Containers</p></li>
                    <li class="info-value">{{countall.reached}}</li>
                </ul>
                </a>
            </div>
        </div>
    </div>
		

		</div>
		
		
		
		
		
		
		
	</div>	
</div>
 
<div class="row animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> World Map </h3>
		</div>
		<div class="panel-body">
			<div id="vmap" style="height: 600px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div>




<!--
<div class="col-sm-12 col-md-6 col-lg-4 animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> Mexico </h3>
		</div>
		<div class="panel-body">
			<div id="vmap1" style="height:500px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div>


<div class="col-sm-12 col-md-6 col-lg-4 animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> USA </h3>
		</div>
		<div class="panel-body">
			<div id="vmap2" style="height:500px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div>


<div class="col-sm-12 col-md-6 col-lg-4 animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> Russia </h3>
		</div>
		<div class="panel-body">
			<div id="vmap3" style="height:500px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div>

<div class="col-sm-12 col-md-6 col-lg-4 animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> Canada </h3>
		</div>
		<div class="panel-body">
			<div id="vmap4" style="height:500px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div>


<div class="col-sm-12 col-md-6 col-lg-4 animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> Europe </h3>
		</div>
		<div class="panel-body">
			<div id="vmap5" style="height:500px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div>


<div class="col-sm-12 col-md-6 col-lg-4 animated fadeInUpBig" style="margin-left:0px;">
	<div class="panel panel-piluku">
		<div class="panel-heading">
			<h3 class="panel-title"> France </h3>
		</div>
		<div class="panel-body">
			<div id="vmap6" style="height:500px;" class="graph graph-size-normal"></div>
		</div>
	</div>
</div> -->


