<div class="signin_wrapper" ng-controller="DriverCtrl">
	<div class="row">
		<div class="overlay_block">
			<div class="center_block">
				<div class="user_info" >
					<h2 class="signup-heading"></h2>
					<div class="row text-center">
						<div class="input-field col-md-4 col-sm-4 col-xs-4" style="padding-right: 0px;padding-left: 0px;"> 
							 <i style="color:#000000;font-size: 37px;" class="ion-android-bus prefix"></i>
						</div>
						<div class=" col-md-8 col-sm-8 col-xs-8" style="padding-right: 0px;padding-left: 0px;"> 
							<input id="trailer" ng-model="trailer" style="width: 91%;" type="text" placeholder="License plate" >
						</div>
					</div>
					<div class="clearfix"></div> <a href="" class="btn btn-primary btn-block" style="background-color: #00233D;" ng-click="startTrailer(trailer)"> START </a>
				</div>
			</div>
		</div>
		<!-- right_block -->
	</div>
	<!-- row -->
</div>
<!-- wrapper -->