<div class="animated fadeInUpBig" ng-controller="VendorCtrl">

  <div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">Start Trip</h3>
			</div>
			<div class="panel-body">
			<form action="" class="form form-horizontal">
	                <!--Default Horizontal Form-->
	                <div class="form-group">
	                    <label class="col-sm-2 control-label">Trailer No:</label>
	                    <div class="col-sm-8">
	                        <input type="text" class="form-control" ng-model="trailerNo"  ng-minlength="4">
	                    </div>
					</a>
					<br>
					<br>
				</div>
				<center>
                	<button class="btn btn-info btn-lg" ng-click="saveTrailer(trailerNo)"  type="button">Start</button>
                </center>	
		</div>
	</div>
</div>


