<div class="signin_wrapper animated fadeInUpBig" ng-controller="DriverCtrl">
    <div class="row">
        <div class="overlay_block">
            <div class="center_block"> 
	            <div id="clockbox" style="margin-top: 5%"></div>
                <div id="clockboxd"></div>
       		</div>
       		
       		<!-- <a href="#/app/loadcontainer">-->
       		<div class="info-seven" style="-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);margin: 12px;background-color: #EDEDED;color: #000000">
       		 <div class="row">
			     
			      <div class="col-sm-6 col-md-6"  >
			           Truck No : {{trailer.trailerNo}}
			          <p> Active </p>
			          <p> Started By: {{trailer.startTime | date:'yyyy-MM-dd HH:mm:ss'}} </p></div>
			          <div class="col-sm-6 col-md-6 text-center"  >
			           </div>
			    
			</div>
		      
       		</div>
       		
       		<div class="col-md-12" style="margin-left:14px;padding-left:0px;margin-right:14px;padding-right:0px;">
				<div class="panel panel-piluku" style="-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);">
					<div class="panel-heading">
						<h3 class="panel-title">
							Load a container
							<span class="panel-options">
								<a ng-click="addRow()">
									<button class="btn btn-success btn-lg" style="background-color: #00233D"><i class=" ion-plus-round"></i></button>
								</a>
							</span>
						</h3>
					</div>
			
        			<div class="panel-body">
        				<div class="table-responsive">
							<table class="table table-bordered">
								<tbody>
									<tr ng-repeat="con in trailer.containers" ng-if="con.status !== 'UNLOADED'">
										<td>
											<span>
												<div class="col-sm-4">
													<select ng-model="con.ContainerType" class="name_search form-control">
							                            <option ng-repeat="contprix in containerprefix" value="{{contprix.name}}"> {{contprix.name}} </option>
							                        </select>
												</div>
												<div class="col-sm-4 text-center" style="">
													<input ng-model="con.ContainerNo" type="text" class="col-sm-12" ng-show="con.status !== 'LOADED'" maxlength="7" ng-pattern="/^[0-9]*$/" ng-trim="false">
													<lable ng-show="con.status === 'LOADED'">{{con.ContainerNo}}</lable>
												</div>
												<div class="col-sm-4 text-center">
													<button class="btn btn-lg" style="background-color: #00233D" ng-show="con.status !== 'LOADED'" type="button" ng-click="saveRow(con,$index)">Load</button>
													<button class="btn btn-lg" style="color: #ffffff;background-color: #6B0C05" type="button" ng-show="con.status === 'LOADED'" ng-click="unloadRow(con,$index)">Unload</button>
													<button class="btn btn-lg" style="color: #ffffff;background-color: #6B0C05" ng-show="con.status !== 'LOADED'" type="button" ng-click="RemoveRow($index)">cancel</button>
												</div>
											</span>
										</td>	
									</tr>
								</tbody>
							</table>
						</div>
        		</div>     
            </div>
		</div>
		
						<p class="text-center">
        				<button class="btn btn-lg" style="color: #ffffff;background-color: #6B0C05" type="button" ng-disabled="!StopTrailer" ng-click="stopTrailer(trailer.trailerNo)">End tracking</button>
        			   </p>
				
</div></div></div>
