 
 <div class="animated fadeInUpBig" ng-controller="ListContainerCtrl">
	

	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Containers
						<span class="panel-options">
							 {{status}} : {{cList.length}} 
						</span>
					</h3>
				</div>
				<div class="panel-body">
						<div class="row buttons-cascade">
							<div class="col-md-12">
								<div class="demo-group">
									<input class="name_search form-control" ng-model="search" placeholder="Search ">
								</div>
							</div>
						</div>
						
					</div>
				<!--  {{cList}} -->
				<div class="panel-body nopadding">
					<div class="table-responsive">
					

				
						<table class="table table-hover">
							<thead>
								<tr>
								   <!--  <th>WorkOrder No</th> -->
								    <th>WorkOrder No</th>
									<th>Container No</th>
									<th>Vendor</th>
									<th>Loaded Date & Time</th>
									<th>Last Seen Date & Time</th>
									<th>Container Status</th>
									<th>Geofence Status</th>
									 <!-- <th>Unloaded Date & Time</th> -->
									<th>Track</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-row" ng-repeat="c in filteredcList | filter : search | orderBy : '-lastSeen'">
								    <!-- <td>{{c.workOrderNo}}</td> -->
								    <td>{{c.workOrderNo}}</td>
									<td>{{c.containerNo}}</td>
									<td>{{c.vendor}}</td>
									<td>{{c.loadedTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
									<td>{{c.lastSeen | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
									
									<td>{{c.status}}</td>
								
									<td><e ng-if="c.sgfStatus != 'null'">
										<e ng-if="c.sgfStatus == 'IN' && c.egfStatus == null">Started</e>
										<e ng-if="c.sgfStatus == 'EXITED' && c.egfStatus == null">In Transit</e>
										<e ng-if="c.sgfStatus == 'EXITED' && c.egfStatus == 'IN'">Reached</e>
										</e>
									</td>
									
									 <!-- <td>{{c.unloadedTime | date:'dd-MM-yyyy HH:mm:ss Z'}}</td> -->
									<td>
										<a class="btn btn-primary" href="#/app/trackingcontainer/{{c.containerId}}"><i class="ion-navigate"></i></a>
									</td>
								</tr>
						
							</tbody>
							</table>
			

					</div>
				</div>
				
			</div>
			<!-- panel -->
		</div>
	</div>
	
	<!-- ------------------------------------------- -->




		<footer>
                
                 <pagination 
					ng-model="currentPage"
					total-items="cList.length"
					max-size="maxSize"  
					boundary-links="true">
				</pagination>
           </footer>   
	
			
	<!-- ------------------------------------------- -->
	
</div>	
	
 










