<style>
.content .main-content {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   padding-right: 15px;
}
   
dl {
    margin-top: 0;
    margin-bottom: 10px;
}

.dl-horizontal dt {
    float: left;
    width: 50%;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}


 body {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.0;
}
   
</style>
<div class="panel panel-piluku" ng-controller="TrackingContainerCtrl">
   <div class="panel-heading">
      <h3 class="panel-title">
         Tracking Container
         <span class="panel-options">
         
         <a href="#" class="panel-minimize">
         <i class="icon ti-angle-up"></i>
         </a>
         <a onclick="window.history.back()">
         <i class="ion-android-arrow-back"></i>
         </a>
         
         
         </span>
      </h3>
   </div>
   <div class="panel-body">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <div class="col-lg-3 col-md-6 col-sm-12">
            <dl>
               <dt>Container NO</dt>
               <dd>{{containerNo}}</dd>
            </dl>
            <dl>
               <dt>Loading Time </dt>
               <dd>{{containers.loadedTime | date:'medium' }}</dd>
            </dl>
            <dl>
               <dt>Unloading Time </dt>
               <dd>{{containers.unloadedTime | date:'medium' }}</dd>
            </dl>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-12">
            <dl>
               <dt>Trailer NO </dt>
               <dd>{{trailerNo}}</dd>
            </dl>
            <dl>
               <dt>Work Order NO</dt>
               <dd>{{metsData.workOrderNo}}</dd>
            </dl>
           <dl>
               <dt>Work Order Date </dt>
               <dd> <b>From :</b> {{metsData.departureDate | date:'longDate'}} <b>To :</b> {{metsData.arrivalDate | date:'longDate'}} </dd>
            </dl>
         </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
           	<dl>
               <dt><img ng-src="assets/images/markericon/start.png" style="width:25px"/>Begin Address</dt>
               <dd>{{metsData.beginAddressline1 |  lowercase}},{{metsData.beginAddressline2 |  lowercase}},{{metsData.beginAddressline3 |  lowercase}}</dd>
            </dl>
            <dl>
               <dt><img ng-src="assets/images/markericon/end.png" style="width:25px"/>End Address </dt>
               <dd>{{metsData.endAddressline1 |  lowercase}},{{metsData.endAddressline2 |  lowercase}},{{metsData.endAddressline3 |  lowercase}}</dd>
            </dl>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-12">
            <dl>
               <dt>ETA Duration</dt>
               <dd><span ng-if="containers.egfStatus !== 'IN'" class="badge bg-primary">{{etaSummary.etaDuration}}</span></dd>
            </dl>
            <dl>
               <dt>ETA Distance</dt>
               <dd><span ng-if="containers.egfStatus !== 'IN'" class="badge bg-info">{{etaSummary.etaDistance}}</span></dd>
            </dl>
           <dl>
               <dt>Geofence Status</dt>
               <dd ng-if="containers.sgfStatus == 'IN' && containers.egfStatus == null"><span class="badge bg-success" > <i class="fa fa-check green-info"></i> Started </span></dd>
               <dd ng-if="containers.sgfStatus == 'EXITED' && containers.egfStatus == null"><span class="badge bg-warning" > <i class=" fa fa-bus orange-info"></i> In Transit </span></dd>
               <dd ng-if="containers.egfStatus == 'IN'"><span><span class="badge bg-success" > <i class="fa fa-check green-info"></i> Reached </span></span></dd>
            </dl>
         </div>        
      </div>
   </div>
<div class="panel panel-piluku">
   <div class="panel-heading">
      <h3 class="panel-title">
         Location 
         <span class="panel-options">
         
         <a href="#" class="panel-minimize">
         <i class="icon ti-angle-up"></i>
         </a>
        
         </span>
      </h3>
   </div>
   <div class="panel-body">
      
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div style="width:100%; height:600px" id="mapContainer"></div>
   	  </div>
   </div>
   
</div>













<!-- 
<div class="animated fadeInUpBig" ng-controller="TrackingContainerCtrl">

			<div class="panel-heading">
			
			<div class="col-md-11"><h3 class="panel-title">Tracking</h3></div>
			<div class="col-md-1"><h3 class="panel-title"><button class="btn btn-primary btn-round" ng-click="goBack()"><i class="ion-android-arrow-back"></i></button></h3></div>
			</div>
			<br>
			<div class="row">
		
		
		 <div   class="col-md-7 col-sm-12 col-xs-12 nopad-right">
		
		<div class="panel-body">
			<div class="row">
       
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="info-logo-content">
				<a href="#/app/listcontainers/STARTED"> 
			   <ul class="list-inline list-unstyled">
                <li><i class=" fa fa-clock-o green-info"></i>  Started Time <p> {{containers.sgfInTime|date:'medium'}}</p></li>
               </ul>
                </a>
            </div>
          </div>
        
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="info-logo-content">
				<a href="#/app/listcontainers/STARTED"> 
			   <ul class="list-inline list-unstyled">
                     <li><i class=" fa fa-clock-o red-info"></i> End Time<p>{{containers.egfInTime|date:'medium'}}</p></li>
               </ul>
                </a>
            </div>
          </div>
        
        
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="list-group animate-list">
            <div class="info-logo-content">
			 	<a href="#/app/listcontainers/INTRANSIT">
                <ul class="list-inline list-unstyled">
                
                
                    <li><i class="fa fa-bus green-info"></i></li>
                    <li>Start Status</li> 
                    <li><p>{{containers.sgfStatus|date:'medium'}}</p></li><p>
                    <li><i class="fa fa-bus red-info"></i></li>
                    <li>End Status</li> 
                    <li><p>{{containers.egfStatus|date:'medium'}}</p></li></p>
                </ul>
                 </a>
            </div>
            </div>
        </div>
        
        
        <div class="col-md-3 col-xs-12 col-sm-6 ">
            <div class="info-logo-content">
                <ul class="list-inline list-unstyled">
                    <li><i class="fa fa-clock-o orange-info"></i></li>
                    <li>ETA</li> 
                    <li ng-if="eta.duration.text"><p>{{eta.duration.text}}</p></li><p>
                    <li><i class="fa fa-check-square-o orange-info"></i></li>
                    <li>Remaining Distance</li> 
                    <li ng-if="eta.distance.text"><p>{{eta.distance.text}}</p></li></p>
                   
                </ul>
            </div>
        </div>
        
        
    </div>
	</div>	

		
		
		
		
		
		
		
	</div>	
		<div class="col-md-12" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
		<div class="panel panel-piluku">
			<div class="panel-body">
				<div class="col-md-4">
				    <div class="panel panel-piluku" ng-show="tables">
					<div class="panel-body">
						<table class="table table-bordered">
							<tbody>
								
								<tr>
									<td class="col-md-4">Work Order No</td>
									<td class="col-md-8">{{metsData.workOrderNo}}</td>
								</tr>
								
								<tr>
									<td>Truck No</td>
									<td>{{trailerNo}}</td>
								</tr>
								
								
								<tr>
									<td>Container No</td>
									<td>{{containerNo}}</td>
								</tr>
								
								<tr>
									<td>Start Geofence</td>
									<td><e ng-if="containers.sgfStatus != 'null'">{{containers.sgfStatus}}</e></td>
								</tr>
								
								<tr>
									<td>End Geofence</td>
									<td><e ng-if="containers.egfStatus != 'null'">{{containers.egfStatus}}</e></td>
								</tr>
								
								
								<tr>
									<td>Begin Address </td>
									<td>{{metsData.beginAddressline1 |  lowercase}},{{metsData.beginAddressline2 |  lowercase}},{{metsData.beginAddressline3 |  lowercase}}</td>
								</tr>
								<tr>
									<td>End Address </td>
									<td>{{metsData.endAddressline1 |  lowercase}},{{metsData.endAddressline2 |  lowercase}},{{metsData.endAddressline3 |  lowercase}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
				<div class="col-md-8" style="margin-left:0px;padding-left:0px;margin-right:0px;padding-right:0px;">
					<br>
					<div id="map_canvas"></div>
				</div>
			</div>
		</div>
	</div>
</div> -->