<div class="animated fadeInUpBig" ng-controller="VendorHomeCtrl">
	<div class="row">
		<div class="col-md-12">
			<!-- panel -->
			<div class="panel panel-piluku panel-users">
				<div class="panel-heading">
					<h3 class="panel-title">
						List of Vendor
					</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
							    	<th> Vendor ID </th>
									<th> Vendor Name </th>
									<th> Last Active Time  </th>
									<th> Manage </th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-row" ng-repeat="v in vendorList">
									<td>{{v.id}}</td>
									<td>{{v.name}}</td>
									<td>{{v.lastRunTime | date:'short' }}</td>
									<td>
										<a class="btn btn-primary" href="#/app/vendor/{{v.id}}"><i class="ion-navigate"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>